<div class="container">
  <div class="row">
    <div class="col-md-4 order-md-1"></div>
    <div class="col-md-4 order-md-2" style="margin-top: 5%;">
      <br>
      <form class="form-signin" (ngSubmit)="loginButtonClicked(loginParams)" [formGroup]="loginParams">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div *ngIf="!isLoggedOk" class="alert alert-danger" role="alert">
          Bad credentials!
        </div>
        <label class="sr-only" for="inputEmail">Email address</label>
        <input [ngClass]="!isLoggedOk ? 'is-invalid' : ''"
               class="form-control" id="inputEmail" autofocus="" required="" type="email"
               placeholder="Email address" formControlName="email">
        <label class="sr-only" for="inputPassword">Password</label>
        <input [ngClass]="!isLoggedOk ? 'is-invalid' : ''"
               class="form-control" id="inputPassword" required="" type="password"
               placeholder="Password" formControlName="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginParams.valid" style="margin-top: 8%;">Sign in</button>
        <div class="text-center">
          <p class="mt-5 mb-3 text-muted">© VoteForBookApp 2018-2019</p>
        </div>
      </form>
    </div>
    <div class="col-md-4 order-md-3"></div>
  </div>
</div>

