<div class="container">
  <div class="row">
    <div class="col-md-1 order-md-1"></div>
    <div class="col-md-10 order-md-2">
      <div class="py-5 text-center">
        <img width="72" height="72" class="d-block mx-auto mb-4" alt=""
             src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg">
        <h2>Create book</h2>
        <p class="lead">The form below allows you to create a copy of the book.
          From that moment, the book will be included in the voting.
          Only you can remove it and at the same time exclude it from voting.</p>
      </div>
    </div>
    <div class="col-md-1 order-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-2 order-md-1 col-sm-1 order-sm-1"></div>
    <div class="col-md-8 order-md-2 col-sm-10 order-sm-1">
      <form (ngSubmit)="createBookButtonClicked(createBookParams)" [formGroup]="createBookParams">
        <div class="form-group">
          <label for="title">Title*</label>
          <input [ngClass]="createBookParams.value.title.length === 0 ? '' : 'is-valid'"
                 type="text" class="form-control" id="title" aria-describedby="titleHelp"
                 placeholder="Title" formControlName="title" >
        </div>
        <div class="row">
          <div class="col-md-8 order-md-1">
            <div class="form-group">
              <label for="isbn">Isbn*</label>
              <input [ngClass]="createBookParams.value.isbn.length === 0 ? '' :
                     (createBookParams.value.isbn.length > 9 && createBookParams.value.isbn.length < 18
                     && !createBookParams.controls['isbn'].errors) ? 'is-valid' : 'is-invalid'"
                     type="text" class="form-control" id="isbn" aria-describedby="isbnHelp"
                     placeholder="ISBN" formControlName="isbn">
            </div>
          </div>
          <div class="col-md-4 order-md-2">
            <label for="isbn">Get from APIs</label>
            <button type="button" class="btn btn-outline-primary btn-block" (click)="getBooksFromAPIs()"
            [disabled]="!(createBookParams.value.isbn.length > 9 && createBookParams.value.isbn.length < 18
                     && !createBookParams.controls['isbn'].errors) || waitingForResponse">Get Books</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 order-md-1">
            <div class="form-group">
              <label for="URL">Picture URL</label>
              <input [ngClass]="createBookParams.value.coverPictureUrl.length === 0 ? '' :
                    createBookParams.value.coverPictureUrl.substring(0,4) === 'http' &&
                    (createBookParams.value.coverPictureUrl.substring(4,7) === '://' ||
                    createBookParams.value.coverPictureUrl.substring(5,8) === '://')  ? 'is-valid' : 'is-invalid'"
                type="text" class="form-control" id="URL" aria-describedby="URLHelp"
                     placeholder="URL" formControlName="coverPictureUrl">
            </div>
          </div>
          <div class="col-md-4 order-md-2">
            <label for="isbn">Generate URL</label>
            <input style="display: none" type="file"  accept="image/*" (change)="uploadCoverPicture(fileInput)" #fileInput>
            <button type="button" class="btn btn-outline-primary btn-block" (click)="fileInput.click()">Add image</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 order-md-1">
            <label for="isbn">Authors*</label>
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <div class="force-to-the-bottom">
                  <tag-input formControlName="authors">
                    <tag-input-dropdown
                      [autocompleteItems]="authors"
                      [showDropdownIfEmpty]="true"
                      [dynamicUpdate]="false">
                    </tag-input-dropdown>
                  </tag-input>
                </div>
              </div>
            </div>
            <label for="isbn">Categories*</label>
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <div class="force-to-the-bottom">
                  <tag-input formControlName="categories">
                    <tag-input-dropdown
                      [autocompleteItems]="categories"
                      [showDropdownIfEmpty]="true"
                      [dynamicUpdate]="false">
                    </tag-input-dropdown>
                  </tag-input>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 order-md-2">
            <div class="form-group">
              <label for="description">Book description</label>
              <textarea class="form-control" id="description" rows="5" placeholder="Description"
                        formControlName="description"></textarea>
            </div>
            <div class="form-group">
              <label for="publicationDate">Publication date</label>
              <input  [ngClass]="!createBookParams.controls['publicationDate'].errors &&
                       createBookParams.value.publicationDate < actualDate ? 'is-valid' :
                       createBookParams.value.publicationDate === '' ? '' : 'is-invalid'"
                      class="form-control" type="date" maxDate="actualDate" value="" id="publicationDate"
                     formControlName="publicationDate">
            </div>
          </div>
        </div>
        <hr>
        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="
                createBookParams.controls['isbn'].errors || ((createBookParams.value.coverPictureUrl.substring(0,4) !== 'http' ||
                !(createBookParams.value.coverPictureUrl.substring(4,7) === '://' ||
                createBookParams.value.coverPictureUrl.substring(5,8) === '://')) && (createBookParams.value.coverPictureUrl.length !== 0))
                || createBookParams.value.authors.length < 1 || createBookParams.value.categories.length < 1 ||
                ((createBookParams.controls['publicationDate'].errors || createBookParams.value.publicationDate >= actualDate) &&
                createBookParams.value.publicationDate !== '') ">Create new copy of the book</button>
      </form>
    </div>
    <div class="col-md-2 order-md-3 col-sm-1 order-sm-3"></div>
  </div>
  <footer>
    <br>
    <br>
    <hr>
    <p>© App Footer 2018-2019</p>
  </footer>
  <ngx-snackbar [position]="'bottom-center'" [max]="1"></ngx-snackbar>
</div>
