<div class="container" *ngIf="isLoggedIn">
  <div class="row">
    <div class="col-md-1 order-md-1"></div>
    <div class="col-md-10 order-md-2">
      <div class="py-5 text-center">
        <h2>Start voting</h2>
        <p class="lead">
          The form below allows you to start voting.
          The voting consists of three rounds.
          Please, type the time of one round (1 - 10 min) and accept the changes.</p>
      </div>
    </div>
    <div class="col-md-1 order-md-3"></div>
  </div>
</div>
<div class="container">
  <form (ngSubmit)="startVotingButtonClicked()" [formGroup]="startVotingParams">
    <div class="row">
      <div class="col-md-8 order-md-1">
        <div class="form-group">
          <label for="title">The duration of the round*</label>
          <input [ngClass]="startVotingParams.value.timeOfRound.length === 0 ? '' : 'is-valid'"
                 type="text" class="form-control" id="title" aria-describedby="timeOfRound"
                 placeholder="The duration of the round" formControlName="timeOfRound" >
        </div>
      </div>
      <div class="col-md-4 order-md-2">
        <button class="btn btn-primary btn-lg btn-block" type="submit" style="margin-top: 25px;"
                [disabled]="!startVotingParams.valid">Start voting</button>
      </div>
    </div>
  </form>
</div>
<app-present-book></app-present-book>
